<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/style.css">

</head>

<body>
  <script>
    // Function to change RGB value based on the slider
    function change(value) {
      // Set RGB color (R, G, B all have the same value)
      let rgbColor = `rgb(${value}, ${value}, ${value})`;

      // Update the color preview
      document.getElementById('color-preview').style.backgroundColor = rgbColor;
    }
  </script>
  <div class="login">
    <h1>Predict Milk Quality</h1>

    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
      <input type="text" name="ph" placeholder="pH" required="required" />
      <input type="text" name="temperature" placeholder="Temperature" required="required" />

      <div class="radio-div">
        <label for="taste">Taste:</label>
        <div class="radio-container">
          <input type="radio" id="taste-good" name="taste" value="1" required="required">
          <label for="taste-good">Good</label>
          <input type="radio" id="taste-bad" name="taste" value="0" required="required">
          <label for="taste-bad">Bad</label>
        </div>
      </div>
      
      <div>
        <label for="odor">Odor:</label>
        <div class="radio-container">
          <input type="radio" id="odor-good" name="odor" value="1" required="required">
          <label for="odor-good">Good</label>
          <input type="radio" id="odor-bad" name="odor" value="0" required="required">
          <label for="odor-bad">Bad</label>
        </div>
      </div>
      
      <div>
        <label for="fat">Fat:</label>
        <div class="radio-container">
          <input type="radio" id="fat-high" name="fat" value="1" required="required">
          <label for="fat-high">High</label>
          <input type="radio" id="fat-low" name="fat" value="0" required="required">
          <label for="fat-low">Low</label>
        </div>
      </div>
      
      <div>
        <label for="turbidity">Turbidity:</label>
        <div class="radio-container">
          <input type="radio" id="turbidity-high" name="turbidiy" value="1" required="required">
          <label for="turbidity-high">High</label>
          <input type="radio" id="turbidity-low" name="turbidiy" value="0" required="required">
          <label for="turbidity-low">Low</label>
        </div>
      </div>      

      <div>
        <label for="slider">Adjust RGB (240 - 255):</label>
        <input oninput="change(this.value)" onchange="change(this.value)" type="range" id="slider" name="slider"
          min="200" max="255">
        <div id="color-preview" style="width: 100px; height: 100px; margin-top: 10px; border: 2px solid #000;"></div>
      </div>

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br>
    {{ prediction_text }}

  </div>


</body>

</html>